<div class="container_12 terms">
	<div class="grid_3">
		<h3>Terms & Conditions</h3>
	</div>
	<div class="grid_9 terms">
		<p>1. Please read this Terms of Service agreement ("Agreement") carefully before using this website ("www.golivesms.com"). If you do not agree with the terms and conditions contained in this Agreement, please do not use the Website. By completing the registration process on this Website or by downloading mobile content to a mobile device (each a "Download"), you (1) represent that you are at least 13 years of age and, if you are not the subscriber of a participating mobile communications carrier, you have the consent of such subscriber to sign-up for and use Company's Service (as defined in Section 1) on behalf of the subscriber, and (2) agree, on your behalf and on behalf of the subscriber, to be bound by the terms and conditions of this Agreement. In this Agreement, "you" and "your" refer to each customer (including the subscriber of a participating mobile communications carrier on whose behalf you are entering into this Agreement if you are not yourself the subscriber) and any and each of such customer's agents, if any; and "we", "us" and "our" refer collectively to Company. This Agreement explains our obligations to you and your obligations to us under this Agreement. Company reserves all rights to modify, add, remove or otherwise change any portion of these Terms of Service ("Agreement") at any time and at its sole discretion. Please review this Agreement periodically for such changes. Your continued use of the Website subsequent to the posting of changes to this Agreement means that you are in agreement with and have accepted all such changes.</p>
		<p>2. Description of Company Services: GoLive SMS provides alerts and messages, some of which may be downloadable mobile entertainment content and information, such as ring tones, wallpapers, games, graphics, news and other information data via the internet, SMS, MMS, WAP, BREW and other means of mobile content delivery to certain compatible mobile devices (collectively, the "Service"). You acknowledge and agree that the Service is for your personal use on the mobile device designated during the Download and that you will not transmit, broadcast, upload to any computer or mobile device, create derivative works of, or make commercial use of the Service, including, but not limited to, any Downloads. You may not, or attempt to (or otherwise authorize, encourage or support others' attempts to) circumvent, re-engineer, decrypt, break or otherwise alter or interfere with the Service, including, but not limited to, any Downloads. 2. Access To Service, Registration, and Use. 1. Your right to access and use the Services is strictly limited to your personal, non-commercial use on a mobile communications device designated at the time of your registration with Company, and this right is not transferable by you to any other person or entity. You are only entitled to access and use the Website and the Services for lawful purposes and pursuant to the terms and conditions of this Agreement. 2. If you opt to register for the Service on our Website, you agree to: (i) complete the registration form truthfully, accurately and completely (collectively "Registration Data"); and (ii) maintain and promptly update the Registration Data to keep it true, accurate, current and complete. If Company has reasonable grounds to suspect that the Registration Data is untrue, inaccurate or incomplete, Company has the right to suspend or terminate your account and refuse any and all current or future use of the Service or any portion thereof. You acknowledge and agree that we may rely on the Registration Data to send you important information and notices regarding your account and our Services and, furthermore, that we shall have no liability associated with or arising from your failure to maintain accurate Registration Data, including, but not limited to, your failure to receive critical information about your account or the Service. You further agree that we, either directly or indirectly via third-party service providers, are authorized to verify such registration data.</p>
		<p>3. If you opt to register for the Service  on our Website, you (i) may be required to establish an account and obtain a username and password; (ii) authorize us to process any and all account transactions initiated through the use of your username and password; (ii) will be solely responsible for maintaining the confidentiality of your username and password; (iii) will immediately notify us of any unauthorized use of your username and password; (iv) acknowledge and agree that you are solely responsible for any ad all unauthorized activities, charges and/or liabilities made through the use of your username and password; (iv) acknowledge and agree that Company will not be liable under any circumstances and for any reasons for the unauthorized use or misuse of your username and/or password. Company may need and reserves the right to change usernames allocated to certain of its Services, in which event, you will be promptly informed in writing of such change.
        <p>4. Under certain circumstances, GoLive SMS may provide you with  access to some Services without you requiring you to register as a user (e.g., sign-up via SMS), in which case, your identification will be based on your mobile telephone number and any other reasonable means of identification that we deem appropriate.ions. Any equipment or software causing interference shall be immediately disconnected from the Service and Company shall have the right to immediately terminate this Agreement. If any upgrade in or to the Service requires changes in your equipment or software, you must effect these changes at your own expense. Unless explicitly stated otherwise, any new or additional features that  augment or enhance the current Service, including the release of new products and services, shall be subject to the terms and conditions of this Agreement.</p>
		<p>5. Interruptions or Discontinuation of Service. Company
reserves the right at any time and from time to time to modify,
suspend, discontinue or permanently cancel the Service, or portions
thereof, with or without notice to you. If the Service, or any part
thereof, for which you subscribe is permanently discontinued or
canceled by Company, Company will cancel your Subscription Plan and
reimburse any pre-paid fees related to such Service, except for
termination in the event of your breach in accordance with Section 3</p>
		<p>6. As part of its Service, GoLive SMS may offer a bundle of credits for a defined number of individual Downloads on a renewable subscription basis depending on the Company&#8217;s subscription plan that you select of the plans offered by Company (each a "Subscription Plan"). To view the Subscription Plans the Company is offering to its customers, e-mail us at sales@golivesms.com . The details of each Subscription Plan are incorporated into and made a part of this Agreement by this reference.</p>
<p>1. Company shall serve notices to you
related to this Agreement by (A) posting them on the Website; (B)
sending them to the postal address or e-mail address that you had
provided to Company at the time of your registration or, if a new address
has been sent to Company in accordance with Subsection (i)
immediately above, then to such updated address; (C) text message to
the mobile telephone number associated with your account.</p>
<p>2. Notices sent by mail shall be deemed
received seven (7) days after they were sent. Notices sent via
nationally-recognized overnight carrier or posted on the Website or
sent by e-mail or as a text message shall be deemed received on the
business day following the day when they were posted or sent.</p>
<p> 
</p>
<p>2. You acknowledge and agree that the
Downloads made available to you as part of the Service are owned by
Company, its affiliates and/or its licensors, as applicable, and are
protected by intellectual property laws. Company hereby grants, and
you hereby accept, a limited, non-exclusive, non-transferable,
revocable right and license to download and use the object code
version of the Download(s) and the Service on a designated compatible
mobile device solely for your own personal non-commercial use. You
further acknowledge and agree that you may not and will not
reproduce, modify, perform, transfer, distribute, sell, create
derivative works of or otherwise use or make available the
Download(s) and the Service except as expressly provided in this
Agreement. No license is granted to you by this Agreement in the
human readable code (i.e., source code) of the mobile entertainment
content downloaded on your mobile device, and no rights are granted
to you by this Agreement in any patents, copyrights, trade secrets,
trademarks or any other rights in respect of the mobile entertainment
content downloaded on your mobile device. 11. Miscellaneous
Provisions. 1. Notices And Announcements.</p>
<p>1. Except as expressly provided
otherwise herein, all notices to Company shall be in writing and
delivered via nationally-recognized overnight courier or certified
mail, return receipt requested to: 
</p><b>GoLive SMS Inc.<br>
6789 Quail Hill Parkway #335<br>
Irvine, CA 92603</b></p>
<p>2. Severability. You agree that the
terms of this Agreement are severable. If any term or provision is
declared invalid or unenforceable, in whole or in part, that term or
provision shall not affect the remainder of this Agreement. This
Agreement will be deemed amended to the extent necessary to make this
Agreement enforceable, valid and, to the extent possible, consistent
with applicable law, consistent with the original intentions of the
parties; and the remaining terms and provisions will remain in full
force and effect.</p>
<p>3. Entire Agreement. You agree that
this Agreement constitutes the entire, complete and exclusive
agreement between you and us regarding the Service and supersedes all
prior agreements and understandings, whether written or verbal, or
whether established by custom, practice, policy or precedent, with
respect to the subject matter of this Agreement.</p>
<p>4. Assignment And Resale. Company may
assign its rights and delegate its duties under this Agreement
without the consent and without notice to you. Except as otherwise
set forth herein, your rights under this Agreement are not assignable
or transferable. You agree not to resell the Service or any portion
thereof.</p>
<p>5. Governing Law. This Agreement and
any disputes hereunder shall be governed in all respects by and
construed in accordance with the laws of the State of California,
United States of America, excluding its conflict of laws rules. The
parties hereby waive any right to jury trial with respect to any
action brought in connection with this Agreement. The application of
the United Nations Convention of Contracts for the International Sale
of Goods is expressly excluded.</p>
<p>6. Waiver. No waiver of any provision
of this Agreement shall be effective unless it is in writing and
signed by an authorized representative of Company. The remedies of
Company under this Agreement shall be cumulative and not alternative,
and the election of one remedy for a breach shall not preclude
pursuit of other remedies. The failure of a party, at any time or
from time to time, to require performance of any obligations of the
other party hereunder shall not affect its right to enforce any
provision of this Agreement at a subsequent time, and the waiver of
any rights arising out of any breach shall not be construed as a
waiver of any rights arising out of any prior or subsequent breach.</p>		
<br><br>
	</div>
	<div class="clear"></div>
</div>